/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background: white url("media/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 10px;
  text-align: center;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  margin-bottom: 35px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-brand a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .lead {
    font-size: 16px;
    margin-bottom: 0px;
  }
}

/* 
Form
*/
label {
  margin-top: 15px;
}

input[type='text'] {
  width: 100%;
  height: 50px;
  text-indent: 10px;
}

input[type='submit'] {
  margin-top: 20px;
}

@media (max-width: 767px) {
  input[type='text'] {
    width: 100%;
    height: 35px;
    text-indent: 10px;
    font-size: 16px;
  }
  .cover .btn-lg {
    width: 100%;
    margin-bottom: 50px;
  }

  input[type='submit'] {
    margin-top: 15px;
  }

  label {
    margin-top: 10px;
  }
  
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  text-align: center;
}